<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Conditions utilisation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Return button -->
        <a href="/fr/home" id="return-button">&#x2B05; Acceuil</a>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
        </select>
    </div>

    <div class="terms">
        <h1>🇫🇷 Conditions d’utilisation</h1>
        <p>🕖 <b>Dernière modification:</b> 03 juillet 2024.</p>

        <h2>1. Informations générale</h2>
        <p>
            General Knowledge Bot est un bot Discord de culture générale. Il propose plusieurs commandes et
            fonctionalité pour tester tes connaissances en culture génrale avec les membres de ton serveur.

            Pour voir comment l'installer et utiliser ses commande rendez-vous sur notre <a href="home">page
                d'acceuil</a>.

            Chaque fois qu'un membre utilise une commande de test, il gagne des points si il répond correctement et perd
            des points
            dans le cas contraire. Ces informations, ainsi que d'autres données sont enregistrée dans uen base de
            donnée. Pour en savoir plus regardez notre <a href="privacy">politique de confidentialité</a>.
        </p>
     
        <h2>2. Nous contacter</h2>
        <p>
            Pour tout autre renseignement, vous pouvez contacter un administrateur.
        </p>
        <h3>2.1. Liste des administateurs</h3>
        <p>
            Voici la liste des administrateurs de l'application :
        <ul>
            <li>Pierre-Yves Haubruge : piwy_</li>
        </ul>
        </p>
    </div>
</body>

</html>