<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Privacy policy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Return button -->
        <a href="/en/home" id="return-button">&#x2B05; Home</a>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
        </select>
    </div>

    <div class="privacy">
        <h1>🇬🇧 Privacy policy</h1>
        <p>
            🕖 <b>Last modified:</b> June 29, 2024.
        </p>

        <p>
            This privacy policy applies to the Discord General Knowledge application and to the website
            you are currently browsing.
        </p>

        <h2>1. What we collect</h2>
        <p>
            The General Knowledge application collects two types of data. On the one hand, data related to
            and secondly data linked to the configuration of the application on the server.

            <br><br>This site collects functional cookies in order to ensure its operation and an optimal user
            experience.
            experience. These include language preferences and acceptance of cookies.
        </p>
        <h3>1.1. User-related data</h3>
        <p>
            The only user-related data collected is the user ID. This identifier is collected
            when the user uses one of the test or profile commands. This identifier is used to link
            the user to his number of points to save his progress and so that he can have them later.
        </p>
        <h3>1.2 Configuration-related data</h3>
        <p>
            Configuration data includes all the data that the administrators of a server can save to keep their
            preferences for that server, so that they don't have to save them every time. For the moment, this only
            includes the language used by the application.
        </p>
        <h3>1.3. Other data</h3>
        <p>
            To ensure that the data collected remains linked to the correct server, the server identifier is also
            collected for each of the operations mentioned above.
        </p>

        <h2>2. Data storage</h2>
        <p>
            All data is stored in a database. Only the application administrators have access to it.
            Under no circumstances will this data be passed on to other entities or persons (unless requested for valid
            legal reasons). All administrators are named in this document (see point 5.1).
        </p>
        <h3>2.1. Access method</h3>
        <p>
            All server members can view their points or those of other members via the profile command or the general
            server ranking. However, they cannot change them, except in specific cases (see point 3).
        </p>

        <h2>3. Data modification</h2>
        <p>
            Data can be modified in three different ways.
        </p>
        <h3>3.1. By the application</h3>
        <p>
            A user's points are automatically modified each time they use a test command. They receive points if they
            answer correctly, and lose points if they don't.
        </p>
        <h3>3.2. By server administrators</h3>
        <p>
            Administrators of a server on which the application is installed can change the language used by the
            application on the server. They can also change a member's points. In both cases, the changes are saved
            automatically.
        </p>
        <h3>3.3. By the administrators of the application</h3>
        <p>
            The administrators of the application can modify the data directly in its database. However, this is never
            done without the agreement of the user(s) concerned.
        </p>

        <h2>4. Data deletion</h2>
        <p>
            Data is collected for an indefinite period. In principle, it is never deleted. However, it is possible to submit a request for data deletion via
            <a href="suppression-request.html">this link.</a> This request will be processed as quickly as possible.

            As for cookies, you can delete them yourself. To do this, please refer to the method used by your browser.
        </p>

        <h2>5. Contact us</h2>
        <p>
            For any further information, you can contact an administrator.
        </p>
        <h3>5.1. List of administrators</h3>
        <p>
            Here is the list of administrators of the application:
        <ul>
            <li>Pierre-Yves Haubruge: piwy_</li>
        </ul>
        </p>
    </div>
</body>

</html>