body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
}

body a {
    color: #5ca4da;
    text-decoration: none;
}

.bottom {
    bottom: 0;
    width: 100%;
    text-align: center;
}

.content {
    margin: 50px 0 40px 0;
    padding: 20px 40px;
    text-align: center;
}

#languageSwitcher {
    color: rgb(58, 58, 58);
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    height: 34px;
    line-height: 1.6;
    float: right;
}

#languageSwitcher option {
    background-color: rgb(50, 50, 50);
    color: #fff;
    font-size: 16px;
}

.privacy {
    text-align: left;
    margin: 75px 10% 75px 10%;
}

#return-button {
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    color: #5ca4da;
    margin: 0 0 0 20px;
}

.terms {
    text-align: left;
    margin: 75px 10% 75px 10%;
}

.top {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}
