<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Privacyverklaring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Return button -->
        <a href="/nl/home" id="return-button">&#x2B05; Home</a>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
        </select>
    </div>

    <div class="privacy">
        <h1>🇳🇱 Privacybeleid</h1>
        <p>
            🕖 <b> Laatste update:</b> 03 juli 2024.
        </p>

        <p>
            Dit privacybeleid is van toepassing op de toepassing General Knowledge Discord en de site die je momenteel
            bekijkt.
        </p>

        <h2>1. Wat we verzamelen</h2>
        <p>
            De applicatie General Knowledge verzamelt twee soorten gegevens. Ten eerste gegevens met betrekking tot
            gebruikers en ten tweede gegevens met betrekking tot de configuratie van de applicatie op de server.

            <br><br>Deze site verzamelt functionele cookies om de werking en een optimale gebruikerservaring te
            garanderen. Deze omvatten taalvoorkeuren en acceptatie van cookies.
        </p>
        <h3>1.1. Gebruikersgegevens</h3>
        <p>
            De enige gebruikersgerelateerde gegevens die worden verzameld, zijn de gebruikers-ID. Deze ID wordt
            verzameld wanneer de gebruiker een van de test- of profielcommando's gebruikt. Deze ID wordt gebruikt om de
            gebruiker aan zijn aantal punten te koppelen, zodat hij zijn voortgang kan opslaan en er later weer bij kan.
        </p>
        <h3>1.2 Configuratiegegevens</h3>
        <p>
            Configuratiegegevens omvatten alle gegevens die de beheerders van een server kunnen opslaan om hun
            voorkeuren voor die server te bewaren, zodat ze die niet telkens opnieuw hoeven op te slaan. Op dit moment
            omvat dit alleen de taal die door de applicatie wordt gebruikt.
        </p>
        <h3>1.3. Andere gegevens</h3>
        <p>
            Om ervoor te zorgen dat de verzamelde gegevens aan de juiste server gekoppeld blijven, wordt ook de
            server-ID verzameld voor elk van de bovengenoemde bewerkingen.
        </p>

        <h2>2. Gegevensopslag</h2>
        <p>
            Alle gegevens worden opgeslagen in een database. Alleen de applicatiebeheerders hebben hier toegang toe.
            Onder geen enkele omstandigheid worden deze gegevens doorgegeven aan andere entiteiten of personen (tenzij
            op verzoek om geldige juridische redenen). Alle beheerders worden in dit document genoemd (zie punt 5.1).
        </p>
        <h3>2.1. Toegangsmethode</h3>
        <p>
            Alle serverleden kunnen hun punten of die van andere leden bekijken via het profielcommando of de algemene
            ranglijst van de server. Ze kunnen deze echter niet wijzigen, behalve in specifieke gevallen (zie punt 3).
        </p>

        <h2>3. Gegevens wijzigen</h2>
        <p>
            Gegevens kunnen op drie verschillende manieren worden gewijzigd.
        </p>
        <h3>3.1. Door de applicatie</h3>
        <p>
            De punten van een gebruiker worden automatisch aangepast elke keer dat hij een testcommando gebruikt. Ze
            krijgen punten als ze correct antwoorden en verliezen punten als ze dat niet doen.
        </p>
        <h3>3.2. Door serverbeheerders</h3>
        <p>
            Beheerders van een server waarop de applicatie is geïnstalleerd, kunnen de taal wijzigen die door de
            applicatie op de server wordt gebruikt. Ze kunnen ook de punten van een lid wijzigen. In beide gevallen
            worden de wijzigingen automatisch opgeslagen.
        </p>
        <h3>3.3. Door applicatiebeheerders</h3>
        <p>
            De applicatiebeheerders kunnen de gegevens in de database wijzigen. Dit gebeurt echter nooit
            zonder toestemming van de betrokken gebruiker(s).
        </p>

        <h2>4. Gegevens verwijderen</h2>
        <p>
            Gegevens worden voor onbepaalde tijd verzameld. In principe worden ze nooit verwijderd. Het is echter
            mogelijk om via <a href="suppression-request">deze link</a> een verzoek in te dienen voor het verwijderen van gegevens. Dit zal zo snel
            mogelijk worden verwerkt.

            U kunt zelf cookies verwijderen. Raadpleeg hiervoor de methode die uw browser gebruikt.

        <h2>5. Ons contacteren</h2>
        <p>
            Neem voor meer informatie contact op met een beheerder.
        </p>
        <h3>5.1. Lijst van de beheerders</h3>
        <p>
            Hier is de lijst van de applicatiebeheerders:
        <ul>
            <li>Pierre-Yves Haubruge : piwy_</li>
        </ul>
        </p>
    </div>

    <div class="bottom">
        <p id="footer">Deze website is volledig open-source:
            <a href="https://github.com/Piwy-dev/general-knowledge-site">bekijk op GitHub</a>.
        </p>
    </div>
</body>

</html>