<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Verzoek tot verwijdering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/suppression-request.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Return button -->
        <a href="/nl/privacy" id="return-button">&#x2B05; Privacyverklaring</a>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
        </select>
    </div>

    <div class="suppression-request">
        <h1>Verzoek tot verwijdering van gegevens </h1>

        <form action="/suppression-request" method="POST">
            <label for="id">Discord identificatie:</label>
            <input type="text" id="id" name="id" required maxlength="18" minlength="18">

            <label for="reason">Reden voor dit verzoek tot verwijdering:</label>
            <textarea id="reason" name="reason" required></textarea>

            <button type="submit">Verzenden</button>
        </form>
    </div>

    <!-- Bottom navbar -->
    <div class="bottom">
        <a href="terms-of-services">Gebruiksvoorwaarden</a>
        <a href="privacy">Privacyverklaring</a>
    </div>
</body>

</html>