<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gebruiksvoorwaarden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Return button -->
        <a href="/nl/home" id="return-button">&#x2B05; Home</a>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
        </select>
    </div>

    <div class="terms">
        <h1>🇳🇱 Gebruiksvoorwaarden</h1>

        <p>
            🕖 <b> Laatste update:</b> 03 juli 2024.
        </p>

        <h2>1. Algemene informatie</h2>
        <p>
            General Knowledge Bot is een Discord-bot voor algemene kennis. Het biedt verschillende commando's en
            functies om je kennis te testen met de leden van je server.

            Om te zien hoe je het kunt installeren en de commando's kunt gebruiken, ga je naar onze <a
                href="home">startpagina</a>.

            Telkens wanneer een lid een testcommando gebruikt, verdient hij punten als hij correct antwoordt en verliest
            hij punten als dat niet het geval is. Deze informatie, samen met andere gegevens, wordt opgeslagen in een
            database. Voor meer informatie, bekijk onze <a href="privacy">privacybeleid</a>.
        </p>

        <h2>2. Ons contacteren</h2>
        <p>
            Neem voor meer informatie contact op met een beheerder.
        </p>
        <h3>2.1. Lijst van de beheerders</h3>
        <p>
            Hier is de lijst van de applicatiebeheerders:
        <ul>
            <li>Pierre-Yves Haubruge : piwy_</li>
        </ul>
        </p>
    </div>

    <div class="bottom">
        <p id="footer">Deze website is volledig open-source:
            <a href="https://github.com/Piwy-dev/general-knowledge-site">bekijk op GitHub</a>.
        </p>
    </div>
</body>

</html>