<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gebruiksvoorwaarden</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>

<body class="main">
    <!-- Top navbar -->
    <div class="top">
        <!-- Logo -->
        <a href="/nl/home">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </a>

        <!-- Navigation buttons -->
        <div class="top-buttons">
            <a href="/nl/games" class="top-button" id="games-button">Spelen</a>
            <a href="/nl/bots" class="top-button" id="bots-button">Bots</a>
        </div>

        <!-- Language switcher -->
        <select id="languageSwitcher">
            <option value="nl"><span>&#x1F1F3;&#x1F1F1;</span> Nederlands</option>
            <option value="fr"><span>&#x1F1EB;&#x1F1F7;</span> Français</option>
            <option value="en"><span>&#x1F1EC;&#x1F1E7;</span> English</option>
        </select>

        <!-- Dark mode switcher -->
        <label id="dark-mode-switcher" class="switch">
            <input type="checkbox">
            <span class="slider"></span>
        </label>
    </div>

    <div class="terms">
        <!-- Return button -->
        <a href="/en/home" id="return-button">&#x2B05; General Knowledge Bot</a><h1>🇬🇧 Terms of Services</h1>

        <p>🕖 <b>Last modified:</b> Wednesday, March 02, 2022.</p>
        <p>⚠️ Please read these terms of services carefully before using the application: General Knowledge.</p>

        <h2>1. General informations</h2>
        <p>This bot uses a connection to a database to save different data from the users, like their points. Each time you use a test command, you earn points if you answer correctly and lose it in the opposite case.</p>
        <h3>1.1. Privacy policy</h3>
        <p>The number of points of a user is recorded in a database each time the user uses a test command. In order to be able to link the points to the correct users, its identifier is recorded at the same time. The user identifier is the only data this
            application collects. Another data collected by the application is the language chosen for the server. Administrators have the option to choose a language for the application, which is then stored in the database.
        </p>
        <p>For more information, you can consult our
            <a href="privacy-policy.html">privacy policy</a>.
        </p>

        <h2>2. Tests commands</h2>
        <p>They're multiple tests available. See hier the difference tests available.</p>
        <h3>2.1. True or false test</h3>
        <p>In order to have a true or false question, uses the <b>/truefalse</b> command, then react with ✅ if it's true or with ❌ if it's false.</p>
        <h3>2.2. Flag test</h3>
        <p>Uses the command <b>/flag</b> for testing your knowledge in flags. The first message you send after it will be considered as your answer.</p>
        <h3>2.3. Capitals test</h3>
        <p>Uses the <b>/capital</b> command for testing your knowledge in capitals. The first message you send after it will be considered as your answer.</p>
        <h3>2.4. Logos test</h3>
        <p>Use the <b>/logo</b> command to test your knowledge in logos. The first message you send after it will be considered as your answer.</p>

        <h2>3. Points commands</h2>
        <p>With these commands you can see all things related to points. They are permanently linked to the database. Only the administrators of the servers have the possibility to modify the points of a user.
        </p>
        <h3>3.1. Profile</h3>
        <p>The <b>/profile</b> command shows the points you have. You can tag someone after the command to see his points.
        </p>
        <h3>3.2. Leaderboard</h3>
        <p>To see the server's leaderboard use the <b>/leaderboard</b> command. This command only show the 20 first of the server.</p>
        <h3>3.3. Change the points</h3>
        <p>If you want to change the points of a member, use the command <b>/adminxp</b>. This command is only available for administrators.</p>

        <h2>4. Configuration commands</h2>
        <p>The configuration commands allows to configure the differents parameters of the bot and are only available for the administrators.</p>
        <h3>4.1. Language setting</h3>
        <p>Set up the bot language with the command <b>/setlang</b>.</p>
        <h2>5. Contact us</h2>
        <p>For every other information or for a request of suppression of the data, you can contact the creator of the application.</p>
        <p><b>By mail: </b><a href="mailto:byp.studio.bots@gmail.com">byp.studio.bots@gmail.com</a></p>
        <p><b>With Discord: </b>
            <ul>
                <li>By contacting Piwy#2703</li>
                <li>By joining the <a href="https://discord.com/invite/v6aMwZGneQ">help server</a></li>
            </ul>
        </p>
    </div>

    <!-- Bottom navbar -->
    <div class="bottom">
        <a href="/terms">Gebruiksvoorwaarden</a>
        <a href="/privacy">Privacyverklaring</a>
    </div>
</body>

</html>